<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Orders</a>
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-default float-right"
                  (click)="saveProfile()">Save</a> -->
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{total_orders}}</span>
                  <span class="description">Total Orders</span>
                </div>
                <div>
                  <span class="heading">{{completed_orders}}</span>
                  <span class="description">Completed Orders</span>
                </div>
                <div>
                  <span class="heading">{{failed_orders}}</span>
                  <span class="description">Failed Orders</span>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="text-center mt-5">
              <h3>Users Order History
                <span class="font-weight-light"></span>
              </h3>
            </div>
            <div class="table-responsive">
              <table mdbTable #tableEl="mdbTable" class="z-depth-1">
                <thead>
                  <tr>
                    <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let el of elements; let i = index">
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                      scope="row">
                      {{el.id}}</th>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{el.plan}}
                    </td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{el.amount}}
                    </td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{el.date}}
                    </td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{el.extras}}
                    </td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      <button *ngIf="el.status == 'success'" mdbBtn color="success" outline="true" size="sm"
                        mdbWavesEffect type="button" class="m-0">COMPLETED</button>
                      <button *ngIf="el.status == 'warning'" mdbBtn color="primary" outline="true" size="sm"
                        mdbWavesEffect type="button" class="m-0">PENDING</button>
                      <button *ngIf="el.status == 'failed'" mdbBtn color="danger" outline="true" size="sm"
                        mdbWavesEffect type="button" class="m-0">FAILED</button>
                    </td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      <button mdbBtn color="success" outline="true" size="sm" mdbWavesEffect type="button" class="m-0"
                        (click)="viewOrder(classic2, el.user_signup, el.order_id)">View</button>
                    </td>
                  </tr>
                </tbody>
                <tfoot class="grey lighten-5 w-100">
                  <tr>
                    <td colspan="4">
                      <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #classic2 let-c="close" let-d="dismiss">
    <div class="modal-content bg-gradient-danger">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification">Order Details</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form role="form">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Full Name</span>
                </div>
                <input type="text" class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                  value="{{order_fullname}}" />
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Email</span>
                </div>
                <input type="text" class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                  value="{{order_email}}" />
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Number</span>
                </div>
                <input type="text" class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                  value="{{order_number}}" />
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Delivery Time</span>
                </div>
                <input type="text" class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                  value="{{order_delivery}}" />
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Delivery Address</span>
                </div>
                <input type="text" class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                  value="{{order_address}}" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateOrderStatus('success',order_email,order_id)">MARK
          AS COMPLETED</button>
        <button type="button" class="btn btn-danger" (click)="updateOrderStatus('failed',order_email,order_id)">MARK AS
          FAILED</button>
        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal"
          (click)="c('Close click')">Close</button>
      </div>
    </div>
  </ng-template>
</main>