<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
            </div>
          </div>
          <div class="text-center mt-5">
            <br />
            <br />
            <br />
            <p class="h2">Our Menu</p>
            <!-- <h2 class="h4 text-success font-weight-bold mb-4">Our Menu</h2> -->
            <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
              <ngb-tab title="Monday">
                <ng-template ngbTabContent>
                  <div class="col-lg-12">
                    <div class="row row-grid">
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8584.jpg?alt=media&token=a490578e-5809-411c-99dd-f0ae8e3b132d"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Jollof Rice, Plantain and Meat
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Economy</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8628.jpg?alt=media&token=ddff6abf-e69c-4e23-ac72-02375e887d26"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Jollof Rice | Fried Rice, Plantain and Chicken | Turkey | Fish
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Standard</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Tuesday">
                <ng-template ngbTabContent>
                  <div class="col-lg-12">
                    <div class="row row-grid">
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8606.jpg?alt=media&token=d2cc217c-1bb6-40c8-8c17-9d8fb2e9cdaf"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              White Rice, Moi Moi and Meat
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Economy</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8602.jpg?alt=media&token=45f933af-5dcb-498c-a6fc-bd2e2fa8bbd5"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              White Rice | Ofada Rice, Moi Moi and Chicken | Turkey | Fish
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Standard</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Wednesday">
                <ng-template ngbTabContent>
                  <div class="col-lg-12">
                    <div class="row row-grid">
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8644.jpg?alt=media&token=f289df36-b773-4b4c-bf90-feea2ebd321c"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Porridge Beans (Ewa Aganyin) and Plantain
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Economy</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8644.jpg?alt=media&token=f289df36-b773-4b4c-bf90-feea2ebd321c"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Porridge Beans (Ewa Aganyin) and Plantain with gizzard | fried fish
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Standard</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Thursday">
                <ng-template ngbTabContent>
                  <div class="col-lg-12">
                    <div class="row row-grid">
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8575-300x300.jpg?alt=media&token=783350fb-535c-44d3-aae6-58c74c917633"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Amala | Eba | Fufu with Local Soup and Meat
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Economy</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_8579-300x300.jpg?alt=media&token=902c471c-7880-4657-b200-53a5ec8877ed"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Amala | Eba | Fufu | Semo | Wheat | Pounded yam with Local Soup and assorted meat | goat
                              meat | fish
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Standard</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Friday">
                <ng-template ngbTabContent>
                  <div class="col-lg-12">
                    <div class="row row-grid">
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2FIMG_4900.JPG?alt=media&token=8a4505d5-d480-49f2-bb64-af0341150590"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Porridge Yam with Peppered Sauce | Yam and Fried Egg | Egg Sauce
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Economy</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-lg-4">
                        <mat-card class="example-card">
                          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/officekitchen-f7f37.appspot.com/o/images%2Fhow-to-make-nigerian-yam-porridge.jpg?alt=media&token=031d98d6-13fc-4c82-8b59-711eeb23da14"
                            alt="OfficeKitchen Menu">
                          <mat-card-content>
                            <p>
                              Porridge Yam with Fish
                            </p>
                            <div>
                              <span class="badge badge-pill badge-danger">Lunch</span>
                              <span class=""></span>
                              <span class="badge badge-pill badge-danger">Standard</span>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row">
              <div class="col-lg-12">
                <p class="h2">What We Offer</p>
                <br />
                <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                  <ngb-tab title="ECONOMY">
                    <ng-template ngbTabContent>
                      <div class="row justify-content-center">
                        <!-- Free Tier -->
                        <div class="col-lg-6">
                          <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                              <h3 class="card-title text-muted text-uppercase text-center">ONE WEEK</h3>
                              <!-- <del class="card-price text-center">₦3,000<span class="period">/week</span></del> -->
                              <h1 class="card-price text-center">₦3,000<span class="period">/week</span></h1>
                              <hr>
                              <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited
                                  Private Projects</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated
                                  Phone Support</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free
                                  Subdomain</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                                  Status Reports</li>
                              </ul> -->
                              <a href="javascript:void(0)" class="btn btn-block btn-danger text-uppercase"
                                (click)="buyNowClicked('economy-week', classic2, classic3, classic4)">Buy Now</a>
                            </div>
                          </div>
                        </div>
                        <!-- Plus Tier -->
                        <div class="col-lg-6">
                          <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                              <h3 class="card-title text-muted text-uppercase text-center">ONE MONTH</h3>
                              <!-- <del class="card-price text-center">₦11,000<span class="period">/month</span></del> -->
                              <h1 class="card-price text-center">₦11,000<span class="period">/month</span></h1>
                              <hr>
                              <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                                  Status Reports</li>
                              </ul> -->
                              <a href="javascript:void(0)" class="btn btn-block btn-danger text-uppercase"
                                (click)="buyNowClicked('economy-month', classic2, classic3, classic4)">Buy Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="STANDARD">
                    <ng-template ngbTabContent>
                      <div class="row justify-content-center">
                        <!-- Free Tier -->
                        <div class="col-lg-6">
                          <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                              <h3 class="card-title text-muted text-uppercase text-center">ONE WEEK</h3>
                              <!-- <del class="card-price text-center">₦5,000<span class="period">/week</span></del> -->
                              <h1 class="card-price text-center">₦5,000<span class="period">/week</span></h1>
                              <hr>
                              <!-- <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                    </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited
                                      Private Projects</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated
                                      Phone Support</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free
                                      Subdomain</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                                      Status Reports</li>
                                  </ul> -->
                              <a href="javascript:void(0)" class="btn btn-block btn-danger text-uppercase"
                                (click)="buyNowClicked('standard-week', classic2, classic3, classic4)">Buy Now</a>
                            </div>
                          </div>
                        </div>
                        <!-- Plus Tier -->
                        <div class="col-lg-6">
                          <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                              <h3 class="card-title text-muted text-uppercase text-center">ONE MONTH</h3>
                              <!-- <del class="card-price text-center">₦20,000<span class="period">/month</span></del> -->
                              <h1 class="card-price text-center">₦20,000<span class="period">/month</span></h1>
                              <hr>
                              <!-- <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                    </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects
                                    </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                                      Status Reports</li>
                                  </ul> -->
                              <a href="javascript:void(0)" class="btn btn-block btn-danger text-uppercase"
                                (click)="buyNowClicked('standard-month', classic2, classic3, classic4)">Buy Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
                <br/>
                <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isSuccess">
                    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-inner--text">{{successMessage}}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
                      <span aria-hidden="true">×</span>
                    </button>
                </div>
              </div>
              <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
                <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                <span class="alert-inner--text">{{errorMessage}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
                  <span aria-hidden="true">×</span>
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #classic2 let-c="close" let-d="dismiss">
    <div class="modal-content bg-gradient-danger">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <h4 class="heading mt-4">{{selected_plan}}</h4>
          <p>Please select the below options to know more about your chosen plan.</p>
        </div>
        <div *ngIf="subscription_plan === 'economy'">
          <p class="h4">Economy Plan Preferences</p>
          <form role="form">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Preference 1</span>
                </div>
                <select class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="economy_first"
                  name="economy_first" id="economy_first">
                  <option *ngFor="let food of economy_foods_first_option" value="{{food.value}}">{{food.viewValue}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Preference 2</span>
                </div>
                <select class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="economy_second"
                  name="economy_second" id="economy_second">
                  <option *ngFor="let food of economy_foods_second_option" value="{{food.value}}">{{food.viewValue}}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="subscription_plan === 'standard'">
          <h4>Standard Plan Preferences</h4>
          <form role="form">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Preference 1</span>
                </div>
                <select class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="standard_first"
                  name="standard_first" id="standard_first">
                  <option *ngFor="let food of standard_foods_first_option" value="{{food.value}}">{{food.viewValue}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Preference 2</span>
                </div>
                <select class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="standard_second"
                  name="standard_second" id="standard_second">
                  <option *ngFor="let food of standard_foods_second_option" value="{{food.value}}">{{food.viewValue}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Preference 3</span>
                </div>
                <select class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="standard_third"
                  name="standard_third" id="standard_third">
                  <option *ngFor="let food of standard_foods_third_option" value="{{food.value}}">{{food.viewValue}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">Preference 4</span>
                </div>
                <select class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="standard_forth"
                  name="standard_forth" id="standard_forth">
                  <option *ngFor="let food of standard_foods_forth_option" value="{{food.value}}">{{food.viewValue}}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-white" (click)="sendToPayment()">Ok, Continue</button> -->
        <angular4-paystack [key]="public_key" [email]="email" [amount]="amount_to_pay" [ref]="reference"
          [class]="'btn btn-white'" [channels]="['card','bank']" [currency]="'NGN'" (close)="paymentCancel()"
          (callback)="paymentDone($event)">Pay with Paystack</angular4-paystack>
        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal"
          (click)="c('Close click')">Close</button>
      </div>
    </div>
  </ng-template>

  <ng-template #classic3 let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">Message</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="h5">Please proceed to login page before purchasing this plan.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-danger" (click)="loginClick()">Login</button>
      </div>
    </div>
  </ng-template>

  <ng-template #classic4 let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Error</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="h5">{{errorMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">Close</button>
          <!-- <button type="button" class="btn btn-primary" (click)="loginClick()">Login</button> -->
        </div>
      </div>
    </ng-template>
</main>