<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/office-kitchen-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/office-kitchen-red.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">The Company</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a href="#why-we-exist" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Why We Exist</h6>
                  <p class="description d-none d-md-inline-block mb-0">We offer specialized food production and delivery services for office workers.</p>
                </div>
              </a>
              <a href="#how-do-we-work" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">How Do We Work?</h6>
                  <p class="description d-none d-md-inline-block mb-0">Clients subscribe to any of our meal plans via our website www.officekitchen.ng.</p>
                </div>
              </a>
              <a href="#what-drives-our-enterprise" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">What drives our enterprise?</h5>
                  <p class="description d-none d-md-inline-block mb-0">Being a part of the success story of Nigerian workers who largely depend on nutrients gotten from lunch for productive work.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">My Account</span>
          </a>
          <div class="dropdown-menu">
            <!-- <a [routerLink]="['/landing']" class="dropdown-item">Landing</a> -->
            <a [routerLink]="['/user-profile']" class="dropdown-item" *ngIf="isLoggedIn">My Profile</a>
            <a *ngIf="email == 'ibukunolaoye@gmail.com'" [routerLink]="['/user-orders']" class="dropdown-item">Admin - Orders</a>
            <a *ngIf="email == 'ibukunolaoye@gmail.com'" [routerLink]="['/user-signups']" class="dropdown-item">Admin - Users</a>
            <a [routerLink]="['/login']" class="dropdown-item" *ngIf="!isLoggedIn">Login</a>
            <a [routerLink]="['/register']" class="dropdown-item" *ngIf="!isLoggedIn">Register</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/menu']" data-toggle="tooltip" title="Our Menu">
            <i class="ni ni-basket"></i>
            <span class="nav-link-inner--text d-lg-none">Our Menu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/officekitchen.ng/" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-navbar" target="_blank" data-toggle="tooltip" title="Star us on Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li> -->
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/menu']" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="ni ni-basket"></i>
            </span>
            <span class="nav-link-inner--text">Our Menu</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
