<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="profileEdit()">Edit Profile</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right" *ngIf="edit_profile"
                  (click)="saveProfile()">Save</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{total_orders}}</span>
                  <span class="description">Total Orders</span>
                </div>
                <div>
                  <span class="heading">{{completed_orders}}</span>
                  <span class="description">Completed Orders</span>
                </div>
                <div>
                  <span class="heading">{{failed_orders}}</span>
                  <span class="description">Failed Orders</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <div class="form-group" [ngClass]="{'focused':focus===true}">
              <div class="input-group input-group-alternative mb-3" *ngIf="edit_profile">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="FullName" type="text" value="{{fullname}}" (focus)="focus=true"
                  (blur)="focus=false" [(ngModel)]="fullname" name="fullname" id="fullname" required>
              </div>
            </div>
            <h3 *ngIf="!edit_profile">{{fullname}}
              <span class="font-weight-light"></span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{email}}</div>
            <div class="input-group input-group-alternative mb-3" *ngIf="edit_profile">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-phone"></i></span>
              </div>
              <input class="form-control" placeholder="Mobile Number" type="tel" value="{{number}}"
                (focus)="focus=true" (blur)="focus=false" [(ngModel)]="number" name="number" id="number" required>
            </div>
            <div class="h6 mt-4" *ngIf="!edit_profile"><i class="ni business_briefcase-24 mr-2"></i>{{number}}</div>
            <div class="input-group input-group-alternative mb-3" *ngIf="edit_profile">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-watch-time"></i><small>Time of Delivery</small></span>
              </div>
              <input class="form-control" placeholder="Time of Delivery" type="time" value="{{delivery}}"
                (focus)="focus=true" (blur)="focus=false" [(ngModel)]="delivery" name="delivery" id="delivery" required>
            </div>
            <div *ngIf="!edit_profile"><i class="ni education_hat mr-2"></i>Time of Delivery - {{delivery}} AM</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="input-group input-group-alternative mb-3" *ngIf="edit_profile">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-building"></i></span>
                  </div>
                  <input class="form-control" placeholder="Office Address" type="text" value="{{address}}"
                    (focus)="focus=true" (blur)="focus=false" [(ngModel)]="address" name="address" id="address"
                    required>
                </div>
                <p *ngIf="!edit_profile">{{address}}</p>
                <a *ngIf="edit_profile" href="javascript:void(0)" (click)="cancelEditProfile()">Cancel</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-danger mr-4" (click)="logout()"
                  *ngIf="!edit_profile">Logout</a>
              </div>
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
                <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                <span class="alert-inner--text">{{errorMessage}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isSuccess">
                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-inner--text">{{successMessage}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container">
        <div class="text-center mt-5">
          <h3>Plan History
            <span class="font-weight-light"></span>
          </h3>
        </div>
        <div class="table-responsive">
        <table mdbTable #tableEl="mdbTable" class="z-depth-1">
          <thead>
            <tr>
              <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of elements; let i = index">
              <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
                {{el.id}}</th>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.plan}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.amount}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.extras}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <button *ngIf="el.status == 'success'" mdbBtn color="success" outline="true" size="sm" mdbWavesEffect type="button" class="m-0">{{el.status}}</button>
                <button *ngIf="el.status == 'failed'" mdbBtn color="danger" outline="true" size="sm" mdbWavesEffect type="button" class="m-0">{{el.status}}</button>
              </td>
            </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">
            <tr>
              <td colspan="4">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
        </div>
      </div>
  </section>
</main>